<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>source</key><string>yeahmobi</string><key>openAds</key><true/><key>applicationID</key><string></string><key>launchUnitID</key><string>1117</string><key>bannerUnitID</key><string></string><key>apikey</key><string></string></dict></plist>
